body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  overflow: scroll;
  margin: 0;
}
.header {
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  background: black;
  border-bottom: 1px solid seashell;
  z-index: 1;
}
.header .logo {
  padding: 10px;
  max-height: 50px;
  align-items: center;
  flex-grow: 1;
}
.links {
  text-align: right;
  width: 100%;
}
.links span {
  text-decoration: underline;
  padding: 20px 10px;
}
.main {
  padding-top: 69px; /* To offset fixed header */
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}
#mission {
  margin-top: 69px;
  height: 700px;
  width: 1200px;
  background-image: url("./images/img-mission-background.jpg");
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.text {
  width: 100%;
  background: black;
}
.tea-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1000px;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.img {
  padding: 5px;
}
.img img {
  height: 200px;
  margin: 10px;
  display: block;
}
.img span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  margin: auto;
}
.locations-container {
  display: flex;
  background-image: url(./images/img-locations-background.jpg);
  width: 1200px;
  height: 700px;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
}
#downtown, #bayside, #oakdale {
  display: inline-flex;
  background: black;
  opacity: 1;
  width: 300px;
  height: 300px;
  text-align: center;
  flex-wrap: wrap;
  margin: 0 20px;
}
h2 {
  margin-bottom: 15px;
}
h3 {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.locations-container p {
  display: flex;
  padding: 0 15px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
.contact {
  background: black;
  opacity: 1;
  width: 1200px;
  height: 200px;
  margin-top: 160px;
}
.footer {
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
}
